version: "3.9"

services:
  mariadb:
    image: mariadb:11.4
    restart: unless-stopped
    env_file: .env
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
